@page "/"

@implements IDisposable
@using BlazorGame.Components

@if (_gameState == null)
{
    <JoinGame OnJoinedGame="OnJoinGame" GameId="gameId"></JoinGame>
}
else
{
    <h1>Game Code: @_gameState.PinCode</h1>
    if (CurrentGameId != Guid.Empty)
    {
        <p>Game link: <mark>@_gameUrl</mark></p>
    }

    <button type="button" class="btn btn-warning mb-2" @onclick="OnLeaveGame">Leave Game</button>

    <h3 class="text-center">Game info:</h3>
    <p class="text-info text-center">@_turnMessage</p>

    <hr />

    if (_gameState.HasDealtCards)
    {
        @if (MyHand != null && MyHand.Cards.Any())
        {
            <h3 class="text-center">My Hand</h3>

            <div class="d-flex justify-content-center mt-5">
                @foreach (var card in MyHand.Cards)
                {
                    <PlayingCard Value="@card" OnCardClicked="OnCardClicked"></PlayingCard>
                }
            </div>
        }


        <div class="d-flex justify-content-center mt-5">
            @if (_gameState.UpCard?.Card is not null && !string.IsNullOrEmpty(_gameState.UpCard.Player))
            {
                <div class="card text-center mr-3" style="width: 18rem;">
                    <div class="card-body">
                        <PlayingCard Value="@_gameState.UpCard.Card"></PlayingCard>
                    </div>
                    <div class="card-footer text-muted">
                        <em>Played by @_gameState.UpCard.Player</em>
                    </div>
                </div>
            }

            @if (_gameState.MatchingCard?.Card is not null && !string.IsNullOrEmpty(_gameState.MatchingCard.Player))
            {
                <div class="card text-center" style="width: 18rem;">
                    <div class="card-body">
                        <PlayingCard Value="@_gameState.MatchingCard.Card"></PlayingCard>
                    </div>
                    <div class="card-footer text-muted">
                        @if (!string.IsNullOrEmpty(_gameState.MatchingCard?.Player))
                        {
                            <em>Played by @_gameState.MatchingCard?.Player</em>
                        }
                    </div>
                </div>
            }
        </div>

        if (CanPlayAgain)
        {
            <div class="text-center">
                <p>Game is complete!</p>
                <button type="button" @onclick="OnNewGame" class="mt-5 btn btn-primary">Play Again</button>
            </div>
        } 
        else if (CanMoveNext)
        {
            <div class="text-center">
                <button type="button" @onclick="OnPlayNext" class="mt-5 btn btn-info">Next Turn</button>
            </div>
        }
    }
    else if (CanDealCards)
    {
        <button type="button" @onclick="OnDealCards" class="mt-5 btn btn-info">Deal</button>
    }
}